<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <h1>Our Products</h1>
    </header>
    <main>
        <div class="product-grid">
            <div class="product-card" th:each="product : ${products}">
                <img th:src="@{/images/{imageUrl}(imageUrl=${product.imageUrl})}" alt="Product Image" class="product-image">
                <h2 class="product-name" th:text="${product.name}"></h2>
                <p class="product-description" th:text="${product.description}"></p>
                <p class="product-price">$<span th:text="${product.price}"></span></p>
                <p class="product-stock" th:text="'Stock: ' + ${product.stock}"></p>
                <button class="btn-add-to-cart" id="addToCartButton" th:data-product-id="${product.productId}">Add to Cart</button>
            </div>
        </div>
    </main>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Add event listener to each "Add to Cart" button
        document.querySelectorAll('.btn-add-to-cart').forEach(function(button) {
            button.addEventListener('click', function() {
                var productId = this.getAttribute('data-product-id');
                var quantity = 1; // Set the desired quantity
                addToCart(productId, quantity);
            });
        });
    });

    function addToCart(productId, quantity) {
        fetch('/amazon/cart/addToCart?productId=' + productId + '&quantity=' + quantity, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded' // This is fine for URL query params
            }
        })
        .then(response => {
            if (response.ok) {
                alert(response.text());
                window.location.href = '/amazon/cart'; // Redirect to the cart page
            } else {
                console.error('Failed to add product to cart');
            }
        })
        .catch(error => {
            console.error('Error occurred:', error);
        });
    }
</script>
</html>
